{% extends 'base.html' %}
{% load static %}
{% block title %} Доставка еды {% endblock %}
{% block content %}

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active image">
        <img src="{% static 'images/pitsa.jpg' %}" class="d-block w-100" alt="jpg">
        <div class="carousel-caption d-none d-md-block">
          <h5>First slide label</h5>
          <p>Some representative placeholder content for the first slide.</p>
        </div>
      </div>
      <div class="carousel-item image">
        <img src="{% static 'images/3.jpg' %}" class="d-block w-100" alt="jpg">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item image">
        <img src="{% static 'images/2.jpg' %}" class="d-block w-100" alt="jpg">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div>
    {% for i in categories %}
    <div class="cardss flex ">
      
      <h1 class="text-center mt-5" id="products">{{ i.title }}</h1>
      <div class="container d-flex justify-content-around">
      {% for foodcard in foodCards %}
      {% if foodcard.category == i %}
      <div class="card mt-5" style="width: 18rem;">
        <img src="{{ foodcard.image.url }}" class="card-img-top" alt="jpeg">
        <div class="card-body">
          <a href="{% url 'product' id=foodcard.id %}" class="card-title text-decoration-none fw-bold text-dark">{{ foodcard.name }}</a>
          <p class="card-text">{{ foodcard.description }}</p>
          <p class="card-text fst-italic">{{ foodcard.price }} сом</p>
          <a href="#" class="btn btn-primary">Добавить в корзину</a>
        </div>
      </div>      
      {% endif %}
      {% endfor %}
    </div>
    {% endfor %}
</div>

  

{% endblock %}