{% extends 'base.html' %}
{% load static %}
{% block title%} Search{% endblock %}

{% block content %}

<!-- {{searched_product}} -->

<div class="container d-flex justify-content-around">
    {% for foodcard in product %}
    <div class="card mt-5" style="width: 18rem;">

      {% if foodcard.image.url %}
      <img src="{{ foodcard.image.url }}" class="card-img-top" alt="jpeg">
      {% endif %}
      <div class="card-body">
<!--          <a href="product/{{foodcard.id}}" class="card-title text-decoration-none fw-bold text-dark">{{ foodcard.name }}</a>-->
        <a href="{% url 'product' id=foodcard.id %}" class="card-title text-decoration-none fw-bold text-dark">{{ foodcard.name }}</a>

          <p class="card-text">{{ foodcard.description }}</p>
          <p class="card-text">Категория: {{ foodcard.category }}</p>
          <p class="card-text fst-italic">{{ foodcard.price }} сом</p>
        <a href="{% url 'addCart' pk=foodcard.id %}" class="btn btn-primary">Добавить в корзину</a>
      </div>
    </div>
</div>
    {% endfor %}
{% endblock %}
